@model Reader.Web.Models.SignInViewModel

<div class="row">
    <div class="span5">
        @using (Html.BeginForm("SignIn", "Main", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <div class="control-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email, new { type = "email" })
                    <span class="help-block" style="font-size: small">@Html.ValidationMessageFor(model => model.Email)</span>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(model => model.Password, new { })
                    <span class="help-block" style="font-size: small">@Html.ValidationMessageFor(model => model.Password)</span>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Okay</button>
                <button type="button" class="btn btn-danger" onclick="window.location='/recover'">
                    Recover Password &raquo;
                </button>
            </div>
    
        }
    </div>
</div>
