<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MiniReader</title>
    <link rel="stylesheet/less" type="text/css" href="~/a/less/app.less" />
    <script src="~/a/js/lib/less.js"></script>
</head>
<body style="background-color:#333">
    @Html.Partial("~/Views/Main/Components/Navigation.cshtml")
    <div class="container-fluid">
        <div class="tab-content">
            @Html.Partial("~/Views/Main/Tabs/Home.cshtml")
            @Html.Partial("~/Views/Main/Tabs/Feeds.cshtml")
            @Html.Partial("~/Views/Main/Tabs/Pages.cshtml")
            @Html.Partial("~/Views/Main/Tabs/Settings.cshtml")
        </div>
    </div>
    <script src="~/a/js/lib/meny.js"></script>
    <script src="~/a/js/lib/jquery.js"></script>
    <script src="~/a/js/lib/bootstrap.js"></script>
    <script src="~/a/js/local/app.js"></script>
    <script src="~/a/js/lib/jquery.validate.js"></script>
    <script src="~/a/js/lib/jquery.validate.unobtrusive.js"></script>
</body>
</html>